@inject IJSRuntime _js

<div id="blazor-error-ui" data-nosnippet>
    <MudPaper Elevation="6" Class="blazor-error-container pa-3">
        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
            <MudIcon Icon="@Icons.Material.Filled.Warning" Size="Size.Medium" Color="Color.Warning"/>
            <MudText Typo="Typo.body1">En uventet feil har oppstått.</MudText>
            <MudSpacer />
            <button onclick="location.reload()"
                    class="mud-button mud-button-filled mud-button-filled-info mud-button-color-info mud-ripple">
                Last inn på nytt
            </button>
        </MudStack>
    </MudPaper>
</div>