@using IntuneLight.Components.Custom
@using IntuneLight.Infrastructure
@using IntuneLight.Models.Options
@using Microsoft.Extensions.Options
@inherits LayoutComponentBase
@implements IDisposable
@inject IOptions<PureserviceOptions> _psOptions
@inject IJSRuntime _js
@inject IHttpContextAccessor HttpContextAccessor

<MudThemeProvider Theme="AppTheme.Theme" IsDarkMode="_state.IsDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>

    <MudAppBar Elevation="1" Dense=true>

        <MudImage Src="/img/logo-dark.png" Height="20"/>

        <MudText Typo="Typo.h6" Class="ml-3" Color="Color.Inherit">
            <MudStack Row="true" Spacing="1">
                <b>Intune</b>
				<p style="font-weight:300">Light</p>
            </MudStack>
        </MudText>

        <MudSpacer />

        <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle" />

        <MudMenu Icon="@Icons.Material.Filled.MoreVert" 
                 Color="Color.Inherit" 
                 AnchorOrigin="Origin.BottomLeft" 
                 TransformOrigin="Origin.TopCenter">

            <MudMenuItem Icon="@Icons.Material.Outlined.ExitToApp" 
                         href="/.auth/logout?post_logout_redirect_uri=/logged-out">
                    Logg ut
            </MudMenuItem>
        </MudMenu>

    </MudAppBar>

    <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu/>
    </MudDrawer>

    <MudMainContent>
        @Body
    </MudMainContent>

</MudLayout>

@* Custom error bar component to show fatal errors *@
<FatalErrorBar />


@code 
{
    #region Parameters

    private bool _drawerOpen = true;

    #endregion

	#region Initialization

    protected override void OnInitialized()
    {
		// Subscribe to state changes
        _state.StateChanged += StateHasChanged;

		// Fetch darkmode preference from cookies (server-side rendering)
        var cookie = HttpContextAccessor.HttpContext?.Request.Cookies["darkMode"];
        _state.IsDarkMode = cookie == "true";

		// Set pureservice ticket url from options
		_state.PureserviceTicketAddress = _psOptions.Value.TicketAddress;
        
        base.OnInitialized();
    }

    #endregion

    #region Events

    private void DrawerToggle() => _drawerOpen = !_drawerOpen;
    
    // Toggles dark mode and persists preference in cookie.
    private async Task DarkModeToggle()
    {
        _state.IsDarkMode = !_state.IsDarkMode;
        await _js.InvokeVoidAsync( "setDarkMode", _state.IsDarkMode );
    }

    public string DarkLightModeButtonIcon => _state.IsDarkMode switch
    {
        true => Icons.Material.Rounded.AutoMode,
        false => Icons.Material.Outlined.DarkMode,
    };

    #endregion

	#region Dispose

	// Cleanup state change event subscription
    public void Dispose()
    {
		_state.StateChanged -= StateHasChanged;
	}

    #endregion

}


