@using Microsoft.AspNetCore.Components.Authorization
<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <p>Du har ikke tilgang til denne siden.</p>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
</Router>